{% extends 'shoefitr/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}{% load google_translate %}
<div class="content" style="margin: 0px; padding:0px">


    <div class="container-fluid">
        <div class="card card-plain" style="margin-top: 0px;">
            <div class="card-header card-header-primary" id="cardHeader" style="padding:0px">
                <h2 class="card-title" translate="yes"><img id="leftfoot" class="img-responsive" src="{% static 'assets/img/leftfoot.png' %}" alt="Chania" style="width: auto ; height:60px; color:white"><img id="rightfoot" class="img-responsive" src="{% static 'assets/img/rightfoot.png' %}" alt="Chania" style="display: none; width: auto ; height:60px; color:white"><span id="foot_detail">Scan Left Foot</span></h2>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-left:35px; padding-right:35px;margin-top: 0px;">
                    <div class="card-body" id="takePicture" style="padding-bottom:0px">
                        <!-- Camera -->
                        <form id="fileUploadForm">
                            <div class="form-group col-md-12 mb-0" style="margin-top: 0px; padding-bottom:0px">
                                <div class="form-row">
                                    <div class=" col-md-6 mb-0" style="margin-top: 0px;">
                                        <div id="video-player" style="position: relative; top: 0; left: 0; max-width:700px; width: auto; height: 100%; background-color: #000; z-index: 999;">

                                            <video id="my_camera" autoplay playsinline muted style=" width: 100%; height: 100%; display: block;"  data-toggle="tooltip" title="Tap to scan foot">
                                            </video>

                                            <div _ngcontent-ng-cli-universal-c14 class="guideline"
                                            style="width: 100%;height: 5px;background-color: red;position: absolute;top: 95%;z-index: 9999;">

                                            </div>
                                            <div
                                            style="position: absolute;top: 85%;z-index: 9999;width:100%">
                                                <div id="inf">
                                                <a id="camera" onClick="take_snapshot()" class="btn btn-info btn-lg">
                                                          <span class="glyphicon glyphicon-camera"></span>Scan foot
                                                </a>
                                                </div>
                                            </div>

                                        </div>

                                        <canvas style="display:none;"></canvas>

                                    </div>
                                </div>

                                <div class="form-row" style="margin-top: 2px; display: inline-flex; flex-wrap: nowrap">
                                    <div class=" col-sm-6 mb-0" >
                                        <div id="left_screenshot" style="display:none; position: relative; top: 0; left: 0;  height: auto; background-color: #000; z-index: 999;">

                                            <img id="screenshot"  style="width: 100%; height: 100%; display: block; " >

                                        </div>
                                    </div>
                                    <div class="col-sm-6" >
                                        <div class="container" style="padding: 0px">
                                        <div id="video_screenshot" style="display:none; position: relative; top: 0; left: 0;  height: auto; background-color: #000; z-index: 999;">

                                                <img id="my_screenshot"  style="width: 100%; height: 100%; display: block; " >
                                                <div class="centered">
                                                    <div class="loader" style="display:none;"></div>
                                                </div>

                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

            <div class="card" id="advice" style="display:none;">

                <ul class="list-group list-group-flush">

                    <li class="list-group-item"  id="correct_advice"></li>

                    <li class="list-group-item"  id="width_advice"></li>

                </ul>
            </div>
            <div class="row" id="scanAgain" style="display:none;">
                <div class="col-md-6 col-sm-6" style="margin-left: 15px;padding: 0px">
                    <button class="btn btn-info " style="padding:12px 6px" type="button" id="btnSubmit" onclick="scanAgain();" translate="yes">
                            Not Good? Scan Again
                        </button>
                </div>
            </div>
            <div class="row" id="redirectBtn" style="display: inline-flex; flex-wrap: nowrap;">
                <div class="col-md-6 col-sm-6" style="margin-left: 15px;padding: 0px">
                    <button class="btn btn-info" style="padding:12px 6px"  type="button" id="btnSubmit" onclick="redirectWebshop();" translate="yes">
                            Back to Webshop
                        </button>
                </div>
                <div class="col-md-6 col-sm-6 " style="margin-right: 15px;padding: 0px">
                    <button class="btn btn-info pull-right" style="padding:12px 6px" type="button" id="btnInfo" onclick="redirectInfo();" translate="yes">
                            Back to Instructions
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!-- Configure a few settings and attach camera -->
<script>

    var img = document.querySelector('#my_screenshot');
    var left_img = document.querySelector('#screenshot');
    var permissionToggle = false;
    const constraints = {
        video: {
            facingMode: "environment",
        },
    };

    var video = document.querySelector("#my_camera");
    var pair = 'left';
    var left_width_advice;
    var right_width_advice;
    var left_width;
    var right_width;
    var left_size;
    var right_size;
    var left_model_id;
    var right_model_id;
    var left_length;
    var right_length;
    navigator.mediaDevices
        .getUserMedia(constraints)
        .then(function(stream) {
            video.srcObject = stream;
        })
        .catch(function(err) {
            alert(err);
        });

    function take_snapshot() {
        // take snapshot and get image data

        var vid = document.querySelector('#my_camera');
        var canvas = document.createElement('canvas');
        $('#video_screenshot').show();
        canvas.width = vid.videoWidth;
        canvas.height = vid.videoHeight;
        canvas.getContext('2d').drawImage(vid, 0, 0);
        // Other browsers will fall back to image/png
        if(pair=='right'){
            left_img.src = img.src;
            $('#left_screenshot').show();
        }

        img.src = canvas.toDataURL('image/jpeg', 1);
        $('.loader').show();
        uploadPicture();

    }

    function uploadPicture() {

        var picture = $('#my_screenshot').attr('src');
        //console.log(picture);

        if (picture) {
            console.log('sending picture');
            var dimensions = function () {
                let token = '{{csrf_token}}';
                var temp = {'found':false};

                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    url: "{% url 'calculation' %}",
                    type: "POST",
                    data: {
                        'picture': picture,
                        'shoespair': pair,
                        'userid': '{{userid}}',
                        'shopid': '{{shopid}}',
                        'model_name': '{{name}}'
                    },
                    dataType: 'json',
                    cache: false,
                    async: true,
                    global: false,
                    timeout: 600000,
                    success: function(data) {

                        console.log('picture sent');
                        temp = data;

                        console.log('length',data.length);
                        console.log('width',data.width);

                        if (data.found){
                            $(window).scrollTop(9999);
                            img.src = data.uri;
                            $('.loader').hide();
                            $('#leftfoot').hide();
                            $('#rightfoot').show();
                            $('#foot_detail').html('Now Scan Right Foot');

                            if (pair == 'left') {
                                left_width = data.width;
                                left_size = data.size;
                                left_length = data.length;
                                left_model_id = data.model_id;
                                left_width_advice = data.width_advice;
                            }
                            else if (pair == 'right') {
                                right_width = data.width;
                                right_size = data.size;
                                right_length = data.length;
                                right_model_id = data.model_id;
                                right_width_advice = data.width_advice;
                                $('#scanAgain').show();
                                $('#advice').show();
                                $('#leftfoot').show();
                                $('#video-player').hide();
                                $('#foot_detail').html('Size Advice');
                                if(parseFloat(right_length) > parseFloat(left_length)) {
                                    if(right_size!='_'){
                                        permissionToggle = true;


                                        $('#correct_advice').html('Correct Size = '+right_size+', Model ID = '+right_model_id);
                                        if (right_width_advice != 'Fit')
                                            $('#width_advice').html('Width is "'+right_width_advice+'"');
                                    }
                                    else{
                                        $('#correct_advice').html('No correct match found!');
                                    }
                                }
                                else{
                                    if(right_size!='_'){
                                        permissionToggle = true;
                                        $('#video-player').hide();
                                        $('#correct_advice').html('Correct Size = '+left_size+', Model ID = '+left_model_id);
                                        if (left_width_advice != 'Fit')
                                            $('#width_advice').html('Width is "'+left_width_advice+'"');
                                    }
                                    else{
                                        $('#correct_advice').html('No correct match found!');
                                    }
                                }

                            }
                            pair = 'right';
                        }
                        else{
                            $('#video_screenshot').hide();
                            alert('No (A4/US Letter) paper found,  Try again!');
                            $(window).scrollTop(0);
                        }

                    },
                    error: function (e) {
                        console.log("UPLOAD IMAGE ERROR : ");
                        console.log(e);
                    },
                });
            return temp;
            }();
            console.log(pair);
            return dimensions;
        }
        return null;
    }
    function redirectWebshop() {

        location.href = "http://" + "{{ redirecturl }}";
    }
    function redirectInfo() {

        location.href = "https://api.shoefitr.io/info/?shopid={{shopid}}&userid={{userid}}&modelname={{name}}&redirecturl={{redirecturl}}";
    }
    function scanAgain() {

        location.href = "https://api.shoefitr.io/s/?shopid={{shopid}}&userid={{userid}}&modelname={{name}}&redirecturl={{redirecturl}}";
    }
    function togglePicture() {
        if (permissionToggle){
            let tmp = left_img.src;
            left_img.src = img.src;
            img.src = tmp;
        }

    }

</script>
{% endblock %}