{% extends 'shoefitr/base2.html' %} {% load static %} {% block content %}
<style>
  #scanning {
    color: #f2f2f2;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    opacity: 0;
    transition: 0.3s opacity;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
    z-index: 12;
  }
  #my_camera {
    display: block;
    width: 100%;
  }
  #camera_button {
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    z-index: 11;
    display: none;
  }
</style>
<div class="container-center-horizontal">
  <span id="scanning">Scanning</span>
  <video id="my_camera" autoplay playsinline muted title="Scan feet"></video>
  <img
    src="{% static 'assets/img/scan-button.svg' %}"
    id="camera_button"
    onclick="take_snapshot()"
  />
</div>
<script>
  const constraints = {
    video: {
      facingMode: "environment",
    },
  };
  var video = document.querySelector("#my_camera");
  navigator.mediaDevices
    .getUserMedia(constraints)
    .then(function (stream) {
      video.srcObject = stream;
      document.querySelector("#camera_button").style.display = "block";
    })
    .catch(function (err) {
      alert(err);
    });
  function take_snapshot() {
    document.querySelector("#scanning").style.opacity = "1";
  }
</script>
{% endblock %}
