{% extends 'shoefitr/base.html' %}
{% block content %}
    <div content="container">
        <h1 style="color: black;margin-left: 38%;margin-top: 15%; font-style: oblique;"><strong>SHOEFITR</strong></h1>
    </div>
    <script>
        function ajaxcall() {
            $.ajax({
                url: "http://127.0.0.1:8005/shoesapi",
                type:"GET",
                dataType: "json",
                success: function (data) {
                    alert(data[0].name)
                }
            });
        }
    </script>
{% endblock %}