{% load static %}

<div id="navbar" class="nav animate-enter18" show-on-scroll>
  <img
    class="shoefitr-logo animate-enter19"
    show-on-scroll
    src="{% static 'assets/img/shoes-1@2x.svg' %}"
  />
  <div id="google_translate_element"></div>
  <div class="button animate-enter20" show-on-scroll>
    <div class="language-button poppins-semi-bold-white-14px">Language</div>
    <img
      class="language-chevron-down"
      src="{% static 'assets/img/chevron-down-2@2x.svg' %}"
    />
  </div>
</div>
