{% extends 'shoefitr/base1.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}{% load google_translate %}
<div class="content" style="margin: 0px; padding: 0px; position:absolute; top:100px">
    <div class="container-fluid">
        <div class="card card-plain" style="margin-top: 0px">
            <div class="card-header card-header-primary" id="cardHeader" style="padding: 0px">
                <h2 class="card-title" translate="yes">
                    <img id="leftfoot" class="img-responsive" src="{% static 'assets/img/leftfoot.png' %}" alt="left" style="width: auto; height: 60px; color: white" /><img id="rightfoot" class="img-responsive" src="{% static 'assets/img/rightfoot.png' %}"
                        alt="right" style="width: auto; height: 60px; color: white" /><span id="foot_detail">Scan Both Feet</span>
                </h2>
            </div>



<div class="modal fade" id="exampleModal1Center" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form style="padding:3px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12 ">
              <label for="system4">Select your current shoes size system</label>
              <select id="system4" class="form-control" onchange="system()">
                <option selected translate="no">EU</option>
                <option translate="no">UK</option>
                <option translate="no">US</option>
                <option translate="no">JP</option>
                <option translate="no">CN</option>
              </select>
            </div>
            <hr/>
            <div class="form-group col-sm-12">
                <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="Child"
            onchange="system()"
          />
          <label class="form-check-label" for="inlineRadio1">Child</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="Adult"
            onchange="system()"
            checked
          />
          <label class="form-check-label" for="inlineRadio2">Adult</label>
        </div>


            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button id="next" type="button" onclick="system()" class="btn btn-info" data-toggle="modal" data-target="#USModalAdult">
          NEXT
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="USModalChild" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate="no">United States(US) Size System for Children</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form style="padding:15px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="sizeUSChild">Your current shoes size</label>
              <select id="sizeUSChild" onchange="system2()" class="form-control">
                <option selected translate="no">Choose...</option>
                <option translate="no">1</option>
                <option translate="no">1.5</option>
                <option translate="no">2</option>
                <option translate="no">2.5</option>
                <option translate="no">3</option>
                <option translate="no">3.5</option>
                <option translate="no">4</option>
                <option translate="no">4.5</option>
                <option translate="no">5</option>
                <option translate="no">5.5</option>
                <option translate="no">6</option>
                <option translate="no">6.5</option>
                <option translate="no">7</option>
                <option translate="no">7.5</option>
                <option translate="no">8</option>
                <option translate="no">8.5</option>
                <option translate="no">9</option>
                <option translate="no">9.5</option>
                <option translate="no">10</option>
                <option translate="no">10.5</option>
                <option translate="no">11</option>
                <option translate="no">11.5</option>
                <option translate="no">12</option>
                <option translate="no">12.5</option>
                <option translate="no">13</option>

              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" onclick="system3()" class="btn btn-info" data-dismiss="modal">NEXT</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="USModalAdult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" translate="no">United States(US) Size System for Adults</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form style="padding:15px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="sizeUSAdult">Your current shoes size</label>
              <select id="sizeUSAdult" onchange="system2()" class="form-control">
                <option selected translate="no">Choose...</option>
                <option translate="no">1</option>
                <option translate="no">1.5</option>
                <option translate="no">2</option>
                <option translate="no">2.5</option>
                <option translate="no">3</option>
                <option translate="no">3.5</option>
                <option translate="no">4</option>
                <option translate="no">4.5</option>
                <option translate="no">5</option>
                <option translate="no">5.5</option>
                <option translate="no">6</option>
                <option translate="no">6.5</option>
                <option translate="no">7</option>
                <option translate="no">7.5</option>
                <option translate="no">8</option>
                <option translate="no">8.5</option>
                <option translate="no">9</option>
                <option translate="no">9.5</option>
                <option translate="no">10</option>
                <option translate="no">10.5</option>
                <option translate="no">11</option>
                <option translate="no">11.5</option>
                <option translate="no">12</option>
                <option translate="no">12.5</option>
                <option translate="no">13</option>
                <option translate="no">13.5</option>
                <option translate="no">14</option>
                <option translate="no">14.5</option>
                <option translate="no">15</option>

              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" onclick="system3()" class="btn btn-info" data-dismiss="modal">NEXT</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="UKModalChild" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate="no">United Kingdom(UK) Size System for Children</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form style="padding:15px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="sizeUKChild">Your current shoes size</label>
              <select id="sizeUKChild" onchange="system2()" class="form-control">
                <option selected translate="no">Choose...</option>
                <option translate="no">0</option>
                <option translate="no">0.5</option>
                <option translate="no">1</option>
                <option translate="no">1.5</option>
                <option translate="no">2</option>
                <option translate="no">2.5</option>
                <option translate="no">3</option>
                <option translate="no">3.5</option>
                <option translate="no">4</option>
                <option translate="no">4.5</option>
                <option translate="no">5</option>
                <option translate="no">5.5</option>
                <option translate="no">6</option>
                <option translate="no">6.5</option>
                <option translate="no">7</option>
                <option translate="no">7.5</option>
                <option translate="no">8</option>
                <option translate="no">8.5</option>
                <option translate="no">9</option>
                <option translate="no">9.5</option>
                <option translate="no">10</option>
                <option translate="no">10.5</option>
                <option translate="no">11</option>
                <option translate="no">11.5</option>
                <option translate="no">12</option>
                <option translate="no">12.5</option>
                <option translate="no">13</option>
              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" onclick="system3()" class="btn btn-info" data-dismiss="modal">NEXT</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="UKModalAdult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate="no">United Kingdom(UK) Size System for Adults</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form style="padding:15px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="sizeUKAdult">Your current shoes size</label>
              <select id="sizeUKAdult" onchange="system2()" class="form-control">
                <option selected translate="no">Choose...</option>
                <option translate="no">0</option>
                <option translate="no">0.5</option>
                <option translate="no">1</option>
                <option translate="no">1.5</option>
                <option translate="no">2</option>
                <option translate="no">2.5</option>
                <option translate="no">3</option>
                <option translate="no">3.5</option>
                <option translate="no">4</option>
                <option translate="no">4.5</option>
                <option translate="no">5</option>
                <option translate="no">5.5</option>
                <option translate="no">6</option>
                <option translate="no">6.5</option>
                <option translate="no">7</option>
                <option translate="no">7.5</option>
                <option translate="no">8</option>
                <option translate="no">8.5</option>
                <option translate="no">9</option>
                <option translate="no">9.5</option>
                <option translate="no">10</option>
                <option translate="no">10.5</option>
                <option translate="no">11</option>
                <option translate="no">11.5</option>
                <option translate="no">12</option>
                <option translate="no">12.5</option>
                <option translate="no">13</option>
                <option translate="no">13.5</option>
                <option translate="no">14</option>
              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" onclick="system3()" class="btn btn-info" data-dismiss="modal">NEXT</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="EUModalChild" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate="no">Europe(EU) Size System for Children</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form style="padding:15px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="sizeEUChild">Your current shoes size</label>
              <select id="sizeEUChild" onchange="system2()" class="form-control">
                <option selected translate="no">Choose...</option>
                <option translate="no">14</option>
                <option translate="no">15</option>
                <option translate="no">16</option>
                <option translate="no">17</option>
                <option translate="no">18</option>
                <option translate="no">19</option>
                <option translate="no">20</option>
                <option translate="no">21</option>
                <option translate="no">22</option>
                <option translate="no">23</option>
                <option translate="no">24</option>
                <option translate="no">25</option>
                <option translate="no">26</option>
                <option translate="no">27</option>
                <option translate="no">28</option>
                <option translate="no">29</option>
                <option translate="no">30</option>
                <option translate="no">31</option>

              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" onclick="system3()" class="btn btn-info" data-dismiss="modal">NEXT</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="EUModalAdult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate="no">Europe(EU) Size System for Adults</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form style="padding:15px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="sizeEUAdult">Your current shoes size</label>
              <select id="sizeEUAdult" onchange="system2()" class="form-control">
                <option selected translate="no">Choose...</option>

                <option translate="no">32</option>
                <option translate="no">33</option>
                <option translate="no">34</option>
                <option translate="no">35</option>
                <option translate="no">36</option>
                <option translate="no">37</option>
                <option translate="no">38</option>
                <option translate="no">39</option>
                <option translate="no">40</option>
                <option translate="no">41</option>
                <option translate="no">42</option>
                <option translate="no">43</option>
                <option translate="no">44</option>
                <option translate="no">45</option>
                <option translate="no">46</option>
                <option translate="no">47</option>
                <option translate="no">48</option>
                <option translate="no">49</option>

              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" onclick="system3()" class="btn btn-info" data-dismiss="modal">NEXT</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="JPModalChild" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate="no">Japanese(JP) / Chinese(CN) Size System for Children</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form style="padding:15px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="sizeJPChild">Your current shoes size</label>
              <select id="sizeJPChild" onchange="system2()" class="form-control">
                <option selected translate="no">Choose...</option>
                <option translate="no">8</option>
                <option translate="no">8.5</option>
                <option translate="no">9</option>
                <option translate="no">9.5</option>
                <option translate="no">10</option>
                <option translate="no">10.5</option>
                <option translate="no">11</option>
                <option translate="no">11.5</option>
                <option translate="no">12</option>
                <option translate="no">12.5</option>
                <option translate="no">13</option>
                <option translate="no">13.5</option>
                <option translate="no">14</option>
                <option translate="no">14.5</option>
                <option translate="no">15</option>
                <option translate="no">15.5</option>
                <option translate="no">16</option>
                <option translate="no">16.5</option>
                <option translate="no">17</option>
                <option translate="no">17.5</option>
                <option translate="no">18</option>
                <option translate="no">18.5</option>
                <option translate="no">19</option>
                <option translate="no">19.5</option>
                <option translate="no">20</option>
              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" onclick="system3()" class="btn btn-info" data-dismiss="modal">NEXT</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="JPModalAdult" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate="no">Japanese(JP) / Chinese(CN) Size System for Adults</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form style="padding:15px;" id="reference_size">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="sizeJPAdult">Your current shoes size</label>
              <select id="sizeJPAdult" onchange="system()" class="form-control">
                <option selected translate="no">Choose...</option>
                <option translate="no">20</option>
                <option translate="no">20.5</option>
                <option translate="no">21</option>
                <option translate="no">21.5</option>
                <option translate="no">22</option>
                <option translate="no">22.5</option>
                <option translate="no">23</option>
                <option translate="no">23.5</option>
                <option translate="no">24</option>
                <option translate="no">24.5</option>
                <option translate="no">25</option>
                <option translate="no">25.5</option>
                <option translate="no">26</option>
                <option translate="no">26.5</option>
                <option translate="no">27</option>
                <option translate="no">27.5</option>
                <option translate="no">28</option>
                <option translate="no">28.5</option>
                <option translate="no">29</option>
                <option translate="no">30</option>

              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" onclick="system3()" class="btn btn-info" data-dismiss="modal">NEXT</button>
      </div>
    </div>
  </div>
</div>

            <!-- Button trigger modal -->
<div style="text-align: center;
    margin: 10px;">
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal1Center" >
  Select your current shoes size
</button>
</div>


            <div class="row">
                <div class="col-md-12" style="padding-left: 20px; padding-right: 20px; margin-top: 0px">
                    <div class="card-body" id="takePicture" style="padding-bottom: 0px">
                        <!-- Camera -->
                        <form id="fileUploadForm">
                            <div class="form-group col-md-12 mb-0" style="margin-top: 0px; padding-bottom: 0px">
                                <div class="form-row">
                                    <div class="col-md-6 mb-0" style="margin-top: 0px">
                                        <div id="video-player" style="
                        position: relative;
                        top: 0;
                        left: 0;
                        max-width: 700px;
                        width: auto;
                        height: 100%;
                        background-color: #000;
                        z-index: 999;
                      ">
                                            <video id="my_camera" autoplay playsinline muted style="width: 100%; height: 100%; display: block" data-toggle="tooltip" title="Tap to scan feet"></video>


                                            <div style="
                          position: absolute;
                          top: 85%;
                          z-index: 9999;
                          width: 100%;
                        ">
                                                <div class="camera_div">
                                                    <a id="camera" onClick="take_snapshot()" class="btn btn-info btn-lg" style="z-index:999">
                                                        <span class="glyphicon glyphicon-camera"></span>Scan feet
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="feet" style="
                                                                  position: absolute;
                                                                  top: 28%;
                                                                  width:100%;
                                                                  display:none;
                                                                ">
                                                <div class="images_div">
                                                    <img src="{% static 'assets/img/grouped.png' %}" style="width:120%;height:auto;padding-right:20%"></img>
                                                </div>
                                            </div>
                                        </div>

                                        <canvas style="display: none"></canvas>
                                    </div>
                                </div>

                                <div class="form-row" style="
                    margin-top: 2px;
                    display: inline-flex;
                    flex-wrap: nowrap;
                  ">


                                        <div class="container" style="padding-left: 24px;padding-right: 24px;">
                                            <div id="video_screenshot" style="
                          display: none;
                          position: relative;
                          top: 0;
                          left: 0;
                          height: auto;
                          background-color: #000;
                          border-radius: 15px;
                        ">
                                                <img id="my_screenshot" style="width: 100%; height: 100%; display: block;border-radius: 15px;border-style: solid;border-color: #8dd8ee;" />
                                                <div class="centered" >
                                                    <div class="loader" style="display: none"></div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="card" id="advice" style="display: none; margin-top:5px;margin-bottom:5px">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="correct_advice"></li>

                    <li class="list-group-item" id="width_advice"></li>
                </ul>
            </div>
            <table class="table table-striped table-bordered" style="display:none; padding:15px;table-layout: fixed;word-wrap: break-word;">
              <thead>
                <tr>
                  <th scope="col">Foot</th>
                  <th scope="col" style="color:red">Length</th>
                  <th scope="col" style="color:blue">Width/ Waist</th>
                  <th scope="col" style="color:#39ff14">Ball</th>
                  <th scope="col" style="color:green">Instep</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Left</th>
                  <td id="left_length">-</td>
                  <td id="left_waist">-</td>
                  <td id="left_ball">-</td>
                  <td id="left_instep">-</td>
                </tr>
                <tr>
                  <th scope="row">Right</th>
                  <td id="right_length">-</td>
                  <td id="right_waist">-</td>
                  <td id="right_ball">-</td>
                  <td id="right_instep">-</td>
                </tr>
              </tbody>
            </table>
            <div class="row" id="scanAgain" style="display: none;z-index:22">
                <span class="col-md-6 col-sm-6" style="margin-left: 15px; margin-bottom:15px; padding: 0px">
                    <button class="btn btn-info" style="padding: 12px 6px;margin-bottom:15px;" type="button" id="btnSubmit" onclick="scanAgain();" translate="yes">
            Not Good? Scan Again
          </button>
                </span>
            </div>
            <div class="row" id="redirectBtn" style="align-content: space-between;z-index:22;margin-bottom:20px">
                <span class="col-md-6 col-sm-6" style="padding-right: 5px;">
                    <button class="btn btn-info" style="padding: 12px 6px" type="button" id="btnSubmit" onclick="redirectWebshop();" translate="yes">
            Back to Webshop
          </button>
                </span>
                <span class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:0px">
                    <button class="btn btn-info pull-right" style="padding: 12px 6px;margin-right:15px" type="button" id="btnInfo" onclick="redirectInfo();" translate="yes">
            Back to Instructions
          </button>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Configure a few settings and attach camera -->
<script>
    const selection = document.querySelector("#system4");
    var sl; //system selection
    var vv; //Adult or Child
    var sb; //size selection
    var size = "Choose...";
    var adult=true;
    function system(){
        sl = selection.options[selection.selectedIndex].text;
        console.log(selection,sl);
        document.querySelector('input[name="inlineRadioOptions"]:checked').value;
        vv = document.querySelector('input[name="inlineRadioOptions"]:checked').value;
        if(sl=="CN") sl="JP"
        document.querySelector("#next").setAttribute("data-target", "#"+sl+"Modal"+vv);
        sb = document.querySelector('#size'+sl+vv);
        size = sb.options[sb.selectedIndex].text;
        console.log('size',size);
        if (vv=='Child') adult=false;
        console.log('adult',adult);
    }
    function system3(){
        system();
        $('.close').click();
    }
    function system2(){
        sl = selection.options[selection.selectedIndex].text;
        console.log(selection,sl);
        document.querySelector('input[name="inlineRadioOptions"]:checked').value;
        vv = document.querySelector('input[name="inlineRadioOptions"]:checked').value;
        if(sl=="CN") sl="JP"
        document.querySelector("#next").setAttribute("data-target", "#"+sl+"Modal"+vv);
        sb = document.querySelector('#size'+sl+vv);
        size = sb.options[sb.selectedIndex].text;
        console.log('size',size);
        if (vv=='Child') adult=false;
        console.log('adult',adult);
    }
    var img = document.querySelector("#my_screenshot");
    var left_img = document.querySelector("#screenshot");
    var permissionToggle = false;
    const constraints = {
        video: {
            facingMode: "environment",
        },
    };
    var video = document.querySelector("#my_camera");
    var pair = "left";
    var left_width_advice;
    var right_width_advice;
    var left_width;
    var right_width;
    var left_size;
    var right_size;
    var left_model_id;
    var right_model_id;
    var left_length;
    var right_length;
    navigator.mediaDevices
        .getUserMedia(constraints)
        .then(function(stream) {
            video.srcObject = stream;
            $('#feet').show();
        })
        .catch(function(err) {
            alert(err);
        });

    function take_snapshot() {
        size = sb.options[sb.selectedIndex].text;
        if (size.startsWith('Ch')==true){
            console.log(size);
            alert('Please choose valid size first...');
            return;
        }
        // take snapshot and get image data

        var vid = document.querySelector("#my_camera");
        var canvas = document.createElement("canvas");
        $("#video_screenshot").show();
        canvas.width = vid.videoWidth;
        canvas.height = vid.videoHeight;
        canvas.getContext("2d").drawImage(vid, 0, 0);
        // Other browsers will fall back to image/png
        //if (pair == "right") {
        //left_img.src = img.src;
        //$("#left_screenshot").show();
        //}

        img.src = canvas.toDataURL("image/jpeg", 1);
        $(".loader").show();
        $("#reference_size").hide();
        uploadPicture();

    }


    function uploadPicture() {


        var picture = $("#my_screenshot").attr("src");
        //console.log(picture);

        if (picture) {
            console.log("sending picture");
            var dimensions = (function() {
                let token = "{{csrf_token}}";
                var temp = {
                    found: false,
                };

                $.ajax({
                    headers: {
                        "X-CSRFToken": token,
                    },
                    url: "{% url 'calculation' %}",
                    type: "POST",
                    data: {
                        picture: picture,
                        //shoespair: pair,
                        userid: "{{userid}}",
                        shopid: "{{shopid}}",
                        model_name: "{{name}}",
                        size: size,
                        system: sl,
                        adult: vv
                    },
                    dataType: "json",
                    cache: false,
                    async: true,
                    global: false,
                    timeout: 600000,
                    success: function(data) {
                        console.log("picture sent");
                        temp = data;

                        console.log("length", data.length);
                        console.log("width", data.width);

                        if (data.found) {
                            $(window).scrollTop(9999);
                            img.src = data.uri;
                            $(".loader").hide();
                            //$("#leftfoot").hide();
                            //$("#rightfoot").show();
                            //$("#foot_detail").html("Now Scan Right Foot");

                            left_waist = data.left_waist;
                            //left_size = data.size;
                            left_length = data.left_length;
                            //left_model_id = data.model_id;
                            //left_width_advice = data.width_advice;
                            right_waist = data.right_waist;
                            right_size = data.size;
                            right_length = data.length;
                            right_model_id = data.model_id;
                            right_width_advice = data.width_advice;
                            $("#scanAgain").show();
                            $("#advice").show();
                            //$("#leftfoot").show();
                            $("#video-player").hide();
                            $("#foot_detail").html("Size Advice");

                                    $("#correct_advice").html(
                                        "Correct size found = " +
                                        data.correct_size +
                                        ", Shoes model ID = " +
                                        data.model_id
                                    );
                                    if (data.width_advice=='Fit')
                                        $("#width_advice").html(

                                        "Shoes width is " +
                                        data.width_advice + " for you."
                                    );
                                    else
                                    $("#width_advice").html(

                                        "Shoes width might be " +
                                        data.width_advice+ " for you."
                                    );


                                    if (data.correct_size == '_'){
                                        $("#correct_advice").html("No correct size found...");
                                        $("#width_advice").hide();
                                    }
                                    $(".table").show();
                                    $("#left_length").html(data.left_foot);
                                    $("#left_waist").html(data.left_waist);
                                    $("#left_ball").html(data.left_ball);
                                    $("#left_instep").html(data.left_instep);
                                    $("#right_length").html(data.right_foot);
                                    $("#right_waist").html(data.right_waist);
                                    $("#right_ball").html(data.right_ball);
                                    $("#right_instep").html(data.right_instep);
                            /*
                            if (parseFloat(right_length) > parseFloat(left_length)) {
                                if (right_size != "_") {
                                    permissionToggle = true;

                                    $("#correct_advice").html(
                                        "Correct Size = " +
                                        right_size +
                                        ", Model ID = " +
                                        right_model_id
                                    );
                                    if (right_width_advice != "Fit")
                                        $("#width_advice").html(
                                            'Width is "' + right_width_advice + '"'
                                        );
                                } else {
                                    $("#correct_advice").html("No correct match found!");
                                }
                            } else {
                                if (right_size != "_") {
                                    permissionToggle = true;
                                    $("#video-player").hide();
                                    $("#correct_advice").html(
                                        "Correct Size = " +
                                        left_size +
                                        ", Model ID = " +
                                        left_model_id
                                    );
                                    if (left_width_advice != "Fit")
                                        $("#width_advice").html(
                                            'Width is "' + left_width_advice + '"'
                                        );
                                } else {
                                    $("#correct_advice").html("No correct match found!");
                                }
                            }*/
                        } else {
                            $("#video_screenshot").hide();
                            $("#advice").hide();
                            alert("Feet not detected,  Try again!");
                            $(window).scrollTop(0);
                            $("#reference_size").show();
                        }
                    },
                    error: function(e) {
                        $(".loader").hide();
                        console.log("UPLOAD IMAGE ERROR : ");
                        //console.log(e);
                        alert("Error: Feet not detected,  Try again!");
                        $("#video_screenshot").hide();
                        $("#reference_size").show();
                    },
                });
                return temp;
            })();
            return dimensions;
        }
        return null;
    }

    function redirectWebshop() {
        location.href = "http://" + "{{ redirecturl }}";
    }

    function redirectInfo() {
        location.href =
            "https://api.shoefitr.io/info/?shopid={{shopid}}&userid={{userid}}&modelname={{name}}&redirecturl={{redirecturl}}";
    }

    function scanAgain() {
        location.href =
            "https://api.shoefitr.io/s/?shopid={{shopid}}&userid={{userid}}&modelname={{name}}&redirecturl={{redirecturl}}";
    }

    function togglePicture() {
        if (permissionToggle) {
            let tmp = left_img.src;
            left_img.src = img.src;
            img.src = tmp;
        }
    }
</script>
{% endblock %}