{% extends 'shoefitr/base2.html' %} {% load static %} {% block content %}
<style>
  .dropdown-content {
    max-height: 0;
    overflow-y: auto;
    min-width: 230px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: max-height 0.3s;
    z-index: 20;
  }
  .dropdown-content a {
    float: none;
    color: #3d3d3d;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-family-poppins);
    display: block;
    text-align: left;
    z-index: 15;
  }
  .dropdown-content a:hover {
    background-color: var(--royal-blue);
    color: white;
    font-weight: 600;
  }
</style>
<div class="container-center-horizontal">
  <div class="main scan1 screen">
    {% include 'shoefitr/navbar.html' %}
    <div class="overlap-group2">
      <div class="first">
        <div
          class="scan-your-feet poppins-semi-bold-log-cabin-20px animate-enter2"
          show-on-scroll
        >
          Scan your feet
        </div>
        <p
          class="select-your-current-shoe-size-system animate-enter3"
          show-on-scroll
        >
          Select your current shoe size system
        </p>
      </div>
      <div class="second">
        <img
          class="shoes-snickers-1 animate-enter5"
          show-on-scroll
          src="{% static 'assets/img/shoes-photo.svg' %}"
        />
      </div>
    </div>

    <div class="frame-27 animate-enter6" show-on-scroll>
      <div class="group-2">
        <div class="flex-row" id="drp-btn-1" onclick="toggleDropdown(1)">
          <div class="x-size poppins-normal-mountain-mist-12px">
            Select size system
          </div>
          <img
            class="chevron-down-1"
            id="down-1"
            src="{% static 'assets/img/chevron-down@2x.svg' %}"
          />
        </div>
        <div class="dropdown-content" id="dropdown-content-1">
          <a tranlate="no" href="#">EU</a>
          <a tranlate="no" href="#">UK</a>
          <a tranlate="no" href="#">US</a>
          <a tranlate="no" href="#">JP</a>
          <a tranlate="no" href="#">CH</a>
        </div>
        <img
          class="line-1"
          id="line-1"
          src="{% static 'assets/img/line-1@2x.svg' %}"
        />
      </div>
      <div class="group-3">
        <div class="flex-row-1" id="drp-btn-2" onclick="toggleDropdown(2)">
          <div class="x-size poppins-normal-mountain-mist-12px">
            Current shoe size
          </div>
          <img
            class="chevron-down-1"
            id="down-2"
            src="{% static 'assets/img/chevron-down@2x.svg' %}"
          />
        </div>
        <div class="dropdown-content" id="dropdown-content-2">
          <a tranlate="no" href="#">1</a>
          <a tranlate="no" href="#">2</a>
          <a tranlate="no" href="#">3</a>
          <a tranlate="no" href="#">4</a>
          <a tranlate="no" href="#">5</a>
          <a tranlate="no" href="#">6</a>
          <a tranlate="no" href="#">7</a>
          <a tranlate="no" href="#">8</a>
        </div>
        <img
          class="line-1"
          id="line-2"
          src="{% static 'assets/img/line-1-1@2x.svg' %}"
        />
      </div>
    </div>
    <div class="radio-button-container">
      <div
        class="radio-button animate-enter8"
        onclick="radioSelection('child')"
        show-on-scroll
      >
        <div class="ellipse-2" id="child-radio"></div>
        <div class="child">Child</div>
      </div>
      <div
        class="radio-button-1 animate-enter7"
        onclick="radioSelection('adult')"
        show-on-scroll
      >
        <div class="ellipse-1" id="adult-radio"></div>
        <div class="adult">Adult</div>
      </div>
    </div>
    <div class="button-2 animate-enter1" show-on-scroll>
      <img
        class="camera_enhance"
        src="{% static 'assets/img/camera-enhance@2x.svg' %}"
      />
      <span
        class="button-scan-now poppins-semi-bold-white-14px"
        onclick="next()"
      >
        Scan Now
      </span>
    </div>
    <p class="googlecouk animate-enter9" show-on-scroll>
      <span class="span0">Note</span>
      <span class="span1 poppins-normal-mountain-mist-12px"
        >: For an accurate scan hold phone 30 cm away from your feet</span
      >
    </p>
  </div>
</div>
<script>
  function radioSelection(selection) {
    var s;
    if (selection === "child") s = "adult";
    else s = "child";
    var x = document.getElementById(`${selection}-radio`);
    var y = document.getElementById(`${s}-radio`);
    x.className = "ellipse-1";
    y.className = "ellipse-2";
  }
  function toggleDropdown(n) {
    var m;
    if (n === 1) m = 2;
    else m = 1;
    var x = document.getElementById(`dropdown-content-${n}`);
    var y = document.getElementById(`dropdown-content-${m}`);
    var a = document.getElementById(`down-${n}`);
    var b = document.getElementById(`down-${m}`);

    var line = document.getElementById(`line-${n}`);

    if (x.style.maxHeight) {
      x.style.maxHeight = "";
      a.style.transform = "rotate(0deg)";
      line.style.display = "block";
    } else {
      if (y.style.maxHeight) {
        y.style.maxHeight = "";
        b.style.transform = "rotate(0deg)";
      }
      x.style.maxHeight = "190px";
      a.style.transform = "rotate(-180deg)";
      line.style.display = "block";
    }
  }
  function closeDropdown(n) {
    var x = document.getElementById(`dropdown-content-${n}`);
    x.style.maxHeight = "";
  }
  function next() {
    window.location.href = "/confirm2";
  }
</script>
{% endblock %}
