.vertical-flex-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}
#scanning {
  color: #f2f2f2;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  opacity: 0;
  transition: 0.3s opacity;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 50%;
  z-index: 12;
}

#video_container {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#my_camera {
  height: 100%;
  width: auto;
  /* issue on iphone when scan again */
  /* margin-left: 50%;
  transform: translateX(-50%); */

  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.canvas {
  display: none;
}

#camera_button {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 50%;
  z-index: 11;
  opacity: 0;
  transition: opacity 0.3s;
}
#screenshot {
  width: 100%;
  display: none;
  transition: display 0.3s;
}
#canvas {
  width: 100%;
  display: none;
}
.back-to-select {
  position: fixed;
  top: 3%;
  left: 0;
  margin-left: 15px;
  z-index: 11;
}
#back {
  margin-top: 90px;
  margin-left: 15px;

  z-index: 11;
}
