{% load static %}
{% block content %}
<script>
  const radioSelection = (select: selectionsType) => {
    var s: selectionsType;
    if (select === "child") s = "adult";
    else s = "child";
    var x = document.getElementById(`${select}-radio`);
    var y = document.getElementById(`${s}-radio`);
    if (x) x.className = "ellipse-1";
    if (y) y.className = "ellipse-2";
    setSelection(select);
  };
  const radioSelection2 = (select: selectionsType2) => {
    var s: selectionsType2;
    if (select === "woman") s = "man";
    else s = "woman";
    var x = document.getElementById(`${select}-radio`);
    var y = document.getElementById(`${s}-radio`);
    if (x) x.className = "ellipse-1";
    if (y) y.className = "ellipse-2";
    setSelection2(select);
  };
  const toggleDropdown = (n: dropdownsType) => {
    var m: dropdownsType;
    if (n === 1) m = 2;
    else m = 1;
    var x = document.getElementById(`dropdown-content-${n}`);
    var y = document.getElementById(`dropdown-content-${m}`);
    var a = document.getElementById(`down-${n}`);
    var b = document.getElementById(`down-${m}`);

    var line = document.getElementById(`line-${n}`);

    if (x?.style.maxHeight) {
      x.style.maxHeight = "";
      if (a) a.style.transform = "rotate(0deg)";
      if (line) line.style.display = "block";
    } else {
      if (y?.style.maxHeight) {
        y.style.maxHeight = "";
        if (b) b.style.transform = "rotate(0deg)";
      }
      if (x) x.style.maxHeight = "190px";
      if (a) a.style.transform = "rotate(-180deg)";
      if (line) line.style.display = "block";
    }
  };
  const sizeWarning = (html: string) => {
    Swal.fire({
      html: html,
      timer: 2000,
      confirmButtonColor: "var(--royal-blue)",
      focusConfirm: false,
      timerProgressBar: true,
      icon: "error",
    });
  };
  const redirectToWebshop = () => {
    location.href = "https://" + localStorage.getItem("redirecturl");
  };

  useEffect(() => {
    setSize(null);
  }, [selection, selection2, system, setSize]);
  useEffect(() => {
    var container = document.getElementById("radio-button-container-2");
    var adultRadioButton = document.getElementById("adult-radio-button");
    if (system === "US" || system === "US_W") {
      if (selection === "adult") {
        if (container && adultRadioButton) {
          container.style.display = "flex";
          adultRadioButton.style.marginRight = "16px";
        }
        if (selection2 === "man") setSystem("US");
        else if (selection2 === "woman") setSystem("US_W");
      } else if (selection === "child") {
        setSystem("US");
      }
    } else {
      if (container && adultRadioButton) {
        container.style.display = "none";
        adultRadioButton.style.marginRight = "0px";
      }
    }
    if (container && adultRadioButton && selection === "child") {
      container.style.display = "none";
      adultRadioButton.style.marginRight = "0px";
    }
  }, [selection, selection2, system, setSystem]);
</script>

    <div className="main scan1 screen">
      <div className="overlap-group2">
        <div className="first">
          {showRedirectButton && (
            <div
              className="back-to-webshop animate-enter26 show-on-scroll"
              onClick={() => redirectToWebshop()}
            >
              <img className="chevron-left" src="/static/chevron-left@2x.svg" />
              <div className="text poppins-normal-royal-blue-10px">
                Back to Webshop
              </div>
            </div>
          )}
          <div className="scan-your-feet poppins-semi-bold-log-cabin-20px animate-enter2 show-on-scroll">
            Scan your feet
          </div>
          <p className="select-your-current-shoe-size-system animate-enter3 show-on-scroll">
            Select your current shoe size system
          </p>
        </div>
        <div className="second">
          <img
            className="shoes-snickers-1 animate-enter5 show-on-scroll"
            src="/static/shoes-photo.png"
          />
        </div>
      </div>

      <div className="frame-27 animate-enter6 show-on-scroll">
        <div className="group-2">
          <div
            className="flex-row"
            id="drp-btn-1"
            onClick={() => toggleDropdown(1)}
          >
            {system ? (
              <div translate={system ? "no" : "yes"} className="y-size">
                {system == "US_W" ? "US" : system}
                {/* {system} */}
              </div>
            ) : (
              <div className="x-size poppins-normal-mountain-mist-12px">
                Select size system
              </div>
            )}
            {/* eslint-disable-next-line */}
            <img
              className="chevron-down-1"
              id="down-1"
              src="/static/chevron-down@2x.svg"
            />
          </div>
          <div className="dropdown-content" id="dropdown-content-1">
            {systemsData.map((s, i) => (
              <span
                key={i}
                translate="no"
                onClick={() => {
                  setSystem(s);
                  toggleDropdown(1);
                }}
                style={{
                  backgroundColor: system === s ? "var(--royal-blue)" : "white",
                  color: system === s ? "white" : "#3d3d3d",
                  fontWeight: system === s ? 600 : 400,
                }}
              >
                {s}
              </span>
            ))}
          </div>
          <img className="line-1" id="line-1" src="/static/line-1@2x.svg" />
        </div>
        <div className="group-3">
          <div
            className="flex-row-1"
            id="drp-btn-2"
            onClick={() =>
              system
                ? toggleDropdown(2)
                : sizeWarning("Please select size system first")
            }
          >
            {size ? (
              <div translate={system ? "no" : "yes"} className="y-size">
                {size}
              </div>
            ) : (
              <div className="x-size poppins-normal-mountain-mist-12px">
                Current shoe size
              </div>
            )}
            <img
              className="chevron-down-1"
              id="down-2"
              src="/static/chevron-down@2x.svg"
            />
          </div>
          <div className="dropdown-content" id="dropdown-content-2">
            {system &&
              sizeData[selection][system].map((s, i) => (
                <span
                  key={i}
                  translate="no"
                  onClick={() => {
                    setSize(s);
                    toggleDropdown(2);
                  }}
                  style={{
                    backgroundColor: size === s ? "var(--royal-blue)" : "white",
                    color: size === s ? "white" : "#3d3d3d",
                    fontWeight: size === s ? 600 : 400,
                  }}
                >
                  {s}
                </span>
              ))}
          </div>
          <img className="line-1" id="line-2" src="/static/line-1-1@2x.svg" />
        </div>
      </div>
      <div className="radio-button-container">
        <div
          className="radio-button animate-enter8 show-on-scroll"
          onClick={() => radioSelection("child")}
        >
          <div className="ellipse-2" id="child-radio"></div>
          <div className="radio-text">Child</div>
        </div>
        <div
          className="radio-button animate-enter8 show-on-scroll"
          id="adult-radio-button"
          onClick={() => radioSelection("adult")}
        >
          <div className="ellipse-1" id="adult-radio"></div>
          <div className="radio-text">Adult</div>
        </div>
      </div>
      <div className="radio-button-container-2" id="radio-button-container-2">
        <div
          className="radio-button animate-enter8 show-on-scroll"
          onClick={() => radioSelection2("man")}
        >
          <div className="ellipse-1" id="man-radio"></div>
          <div className="radio-text">Man</div>
        </div>
        <div
          className="radio-button animate-enter8 show-on-scroll"
          onClick={() => radioSelection2("woman")}
        >
          <div className="ellipse-2" id="woman-radio"></div>
          <div className="radio-text">Woman</div>
        </div>
      </div>
      <div className="button-2 animate-enter1 show-on-scroll">
        <img className="camera_enhance" src="/static/camera-enhance@2x.svg" />
        <span
          className="button-scan-now poppins-semi-bold-white-14px"
          onClick={() => {
            {
              if (system)
                if (size) setPage("camera");
                else sizeWarning("Please select your current shoe size first");
              else sizeWarning("Please select size system first");
            }
          }}
        >
          Scan Now
        </span>
      </div>
      <p className="note googlecouk animate-enter9 show-on-scroll">
        <span className="span0">Note</span>
        <span className="span1 poppins-normal-mountain-mist-12px">
          : For an accurate scan hold phone 30 cm away from your feet
        </span>
      </p>
      <div
        className="see-instructions-select see-instructions poppins-normal-mirage-14px animate-enter25 show-on-scroll"
        onClick={() => setPage("instructions")}
      >
        See Instructions
      </div>
    </div>
{% endblock content %}
